.search-b {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width:600px;
    min-height:500px;
    background: #fff;
    margin: 0 auto;
    padding-top:100px;
}

.search-input {
    width:480px;
    height:30px;
    padding-left:20px;
}

.search-input:focus {
    outline: none;
}

.search-content,.search-history {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:500px;
    margin:0 auto;
    border:1px solid #ccc;
    border-top:none;
}


.search-item,
.active-item-color,
.history-item ,
.history-item-color{
    display: flex;
    align-items: center;
    width:100%;
    height:30px;
    background: #fff;
    line-height: 30px;
    padding-left:20px;
    box-sizing: border-box;
    cursor: pointer;
}

.active-item-color ,
.history-item-color{
    background: #ccc;
}

.history-item ,
.history-item-color{
    color: #0000CC;
}

.close-history {
    width:100%;
    height:30px;
    background:#f8f8f8;
    color: #000;
    font-size:10px;
    text-align: center;
    line-height: 30px;
}

.rm-history-b {
    position: absolute;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, .3);
}

.rm-history-b>div {
    width:300px;
    height:300px;
    background:#fff;
    border-radius: 10px;
}

.rm-history-b>div div {
    width:100%;
    height:50px;
    background:#ccc;
    border-bottom:1px  solid  #fff;
    text-align: center;
    line-height: 50px;
}

.rm-history-b>div img {
    width:100%;
    height:200px;
}

.input-and-eye {
    position: relative;
}

.eyes {
    position: absolute;
    top:8px;
    right:10px;
    width:25px;
    height:20px;
}